@import "../../shared/styles/mixins.scss";
@import "../../shared/styles/variables.scss";
@import "breakpoint-slicer";

.service_card {
  width: 85%;
  min-height: clamp(150px, 70.092vw, 600px);
  background: transparent;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.3s all;
  @apply rounded-lg;
  @apply pl-4;
  @apply pt-4;
  @apply pr-2;
  @apply pb-4;
  @apply border-gray-400;

  &__icon {
    @include respond-to("xxs") {
      font-size: clamp(17.5px, 9.722vw, 70px);
    }

    @apply text-4xl;
    @apply text-main_blue;
  }

  &__heading {
    @apply text-main_blue;
    @apply text-2xl;
    @apply font-gothamBoldReg;
    @apply mt-4;
    transition: 0.3s all;
  }

  @include respond-to("xxs") {
    &__paragraph {
      width: 80%;
      font-size: clamp(6.5px, 3.611vw, 26px);
      @apply text-dark_blue;
      @apply font-gothamLightReg;
      @apply mt-2;
      transition: 0.3s all;
    }
  }

  &__price {
    @apply text-main_blue;
    @apply text-xl;
    @apply font-gothamBoldReg;
    @apply mt-2;
    @apply mb-2;
    transition: 0.3s all;
  }

  &__paragraph {
    @apply text-dark_blue;
    @apply font-gothamLightReg;
    @apply mt-2;
    transition: 0.3s all;
  }

  &:hover {
    @apply bg-main_blue;
    @apply border-main_blue;
  }

  &:hover &__heading {
    @apply text-dark_blue;
  }

  &:hover &__price {
    @apply text-dark_blue;
  }

  &:hover &__icon {
    @apply text-yellow;
  }
}
