---
import { FeatureCardList } from "@features/FeatureCardList";
---

<section>
  <h2 class="mt-16 text-center">
    <span class="text-dark_blue">OUR</span> FEATURES
  </h2>
  <p class="paragraph w-[80%] text-center mt-4 m-auto">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris
  </p>
  <div class="flex flex-col items-center justify-center gap-8 mt-8">
    <FeatureCardList client:load />
  </div>
</section>
