.burger_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply gap-2;

  &__line {
    width: clamp(16px, 7.47648vw, 64px);
    height: 3px;
    transition: 0.3s all;
    @apply rounded-full;
    @apply bg-dark_blue;
  }

  &:hover &__line {
    @apply bg-yellow;
  }
}
