@import "breakpoint-slicer";
@import "../../shared/styles/variables.scss";
@import "../../shared/styles/mixins.scss";

.form_container {
  @apply mt-16;
}

.form_container_pc {
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.link {
  @apply font-gothamProReg;
  @apply text-main_blue;
  @apply mt-8;
}

.image {
  width: 100%;
  height: clamp(150px, 70.092vw, 600px);
  z-index: 0 !important;
  @apply mt-8;

  @include respond-to("lg") {
    position: absolute;
    width: clamp(400px, 58.824vw, 1600px);
    height: clamp(300px, 44.118vw, 1200px);
    right: 0;
    z-index: 0 !important;
  }

  @include respond-to("xl") {
    width: clamp(550px, 57.288000000000004vw, 2200px);
    height: clamp(375px, 39.06vw, 1500px);
    z-index: 0 !important;
  }

  @include respond-to("2xl") {
    width: clamp(600px, 62.496vw, 2400px);
    height: clamp(375px, 39.06vw, 1500px);
    z-index: 0 !important;
  }
}

@include respond-to("xxs") {
  .form_container_pc {
    display: none !important;
  }

  .form_container {
    display: flex;
  }
}

@include respond-to("xs") {
  .form_container {
    display: flex;
  }

  .form_container_pc {
    display: none !important;
  }
}

@include respond-to("lg") {
  .form_container {
    display: none !important;
  }

  .form_container_pc {
    display: flex;
    @apply mt-32;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .paragraph {
    width: 80%;
    text-align: center;
  }

  // .image {
  //   width: clamp(550px, 57.288000000000004vw, 2200px);
  //   height: clamp(375px, 39.06vw, 1500px);
  // }
}
