---
import { Header } from "@features/Header";
import Button from "@shared/ui/Button/index.astro";

import styles from "../Main/styles.module.scss";
import { BurgerMenu } from "@features/BurgerMenu";

interface Props {
  title: string;
  image: ImageMetadata;
  paragraph: string;
}

const { title, paragraph, image } = Astro.props;
---

<main class="flex flex-col items-center justify-center">
  <Header client:load />
  <h1 class="text-center mt-16">
    {title}
  </h1>
  <p class="paragraph text-center w-[80%] m-auto mt-4">
    {paragraph}
  </p>
  <Button buttonType="filled" text="Contact Us" margin="mt-4" />
  <Button buttonType="text" text="Explore More" margin="mt-2" />
  <img class={styles.image} src={image.src} alt="Cleaning Image" />
</main>
