@import "breakpoint-slicer";
@import "../../../shared/styles/variables";
@import "../../../shared/styles/mixins";

.image {
  width: 100%;
  height: clamp(175px, 81.774vw, 700px);

  @include respond-to("md") {
    width: clamp(450px, 46.872vw, 1800px);
    position: absolute;
    height: clamp(324.5px, 33.79992vw, 1298px);
    top: clamp(64px, 6.66624vw, 256px);
    right: 0;
  }
}

@include respond-to("xxs") {
  .main_pc {
    display: none;
  }
}

@include respond-to("lg") {
  .main_pc {
    display: flex;
  }

  .heading {
    width: 50%;
  }

  .paragraph {
    width: 40% !important;
  }
}
