@import "breakpoint-slicer";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.button {
  width: clamp(130px, 60.746399999999994vw, 520px);
  height: clamp(27.5px, 12.8502vw, 110px);
  transition: 0.3s all;

  @include respond-to("xxs") {
    font-size: clamp(7px, 3.889vw, 28px);
  }
}

.filled {
  @extend .button;
  @apply bg-yellow;
  @apply text-dark_blue;
  &:hover {
    @apply bg-main_blue;
  }
}

.outline {
  @extend .button;
  background: transparent;
  border: 2px solid;
  @apply text-dark_blue;
  @apply border-dark_blue;
  &:hover {
    @apply text-main_blue;
    @apply border-main_blue;
  }
}

.outline-yellow {
  @extend .button;
  background: transparent;
  border: 2px solid;
  @apply text-yellow;
  @apply border-yellow;
  &:hover {
    @apply text-dark_blue;
    @apply border-dark_blue;
  }
}

.text {
  @extend .button;
  background: transparent;
  @apply text-main_blue;
  @apply underline;
  &:hover {
    @apply text-dark_blue;
  }
}
