@import "breakpoint-slicer";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.button {
  width: clamp(130px, 60.746399999999994vw, 520px);
  height: clamp(27.5px, 12.8502vw, 110px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;

  @include respond-to("xxs") {
    font-size: clamp(7px, 3.889vw, 28px);
  }

  @include respond-to("xs") {
    width: clamp(130px, 54.166666666666664vw, 520px);
    height: clamp(27.5px, 11.458333333333334vw, 110px);
    font-size: clamp(7px, 2.9166666666666665vw, 28px);
  }

  @include respond-to("sm") {
    width: clamp(130px, 33.854166666666664vw, 520px);
    height: clamp(27.5px, 7.161458333333333vw, 110px);
    font-size: clamp(7px, 1.8229166666666667vw, 28px);
  }

  @include respond-to("md") {
    width: clamp(130px, 26.20967741935484vw, 520px);
    height: clamp(27.5px, 5.544354838709677vw, 110px);
    font-size: clamp(7px, 1.4112903225806452vw, 28px);
  }

  @include respond-to("lg") {
    width: clamp(130px, 21.666666666666668vw, 520px);
    height: clamp(27.5px, 4.583333333333333vw, 110px);
    font-size: clamp(7px, 1.1666666666666667vw, 28px);
  }
}

.filled {
  @extend .button;
  @apply bg-yellow;
  @apply text-dark_blue;
  &:hover {
    @apply bg-main_blue;
  }
}

.outline {
  @extend .button;
  background: transparent;
  border: 2px solid;
  @apply text-dark_blue;
  @apply border-dark_blue;
  &:hover {
    @apply text-main_blue;
    @apply border-main_blue;
  }
}

.outline-yellow {
  @extend .button;
  background: transparent;
  border: 2px solid;
  @apply text-yellow;
  @apply border-yellow;
  &:hover {
    @apply text-dark_blue;
    @apply border-dark_blue;
  }
}

.text {
  @extend .button;
  background: transparent;
  @apply text-main_blue;
  @apply underline;
  &:hover {
    @apply text-dark_blue;
  }
}
