@import "breakpoint-slicer";
@import "../../shared/styles/variables.scss";
@import "../../shared/styles/mixins.scss";

.swiper_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.swiper_wrapper {
  display: flex;
  transition: 0.3s ease-in-out;
  width: 100%;
}

.swiper_slide {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_button_prev,
.swiper_button_next {
  width: clamp(24px, 11.21472vw, 96px);
  height: clamp(24px, 11.21472vw, 96px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
  transition: 0.3s all;
  @apply p-2;
  @apply text-dark_blue;
  @apply rounded-full;
  @apply bg-yellow;
  @apply shadow-md;

  &:hover {
    @apply bg-main_blue;
  }

  @include respond-to("xxs") {
  }

  // @include respond-to("xl") {
  //   width: clamp(24px, 1.765vw, 96px) !important;
  //   height: clamp(24px, 1.765vw, 96px) !important;
  //   @apply p-2;
  //   @apply text-dark_blue;
  //   @apply rounded-full;
  //   @apply bg-yellow;
  // }
}

@include respond-to("xxs") {
  .swiper_button_prev {
    left: clamp(10px, 5.556vw, 40px);
  }
  .swiper_button_next {
    right: clamp(10px, 5.556vw, 40px);
  }
}

@include respond-to("xl") {
  .swiper_button_prev {
    left: clamp(175px, 25.735vw, 700px);
  }

  .swiper_button_next {
    right: clamp(175px, 25.735vw, 700px);
  }
}

@include respond-to("2xl") {
  .swiper_button_prev {
    left: clamp(325px, 33.852000000000004vw, 1300px);
  }

  .swiper_button_next {
    right: clamp(325px, 33.852000000000004vw, 1300px);
  }
}
