---
import Button from "@shared/ui/Button/index.astro";
---

<section class="flex flex-col items-center">
  <h4 class="text-center mt-8">
    <span class="text-dark_blue">Book Affordable Services:</span> Save Time And Money
    With Us!
  </h4>
  <Button text="Book a Service" buttonType="filled" margin="mt-8" />
</section>
