---
import { AccordionTab } from "@entities/AccordionItem";
import { faqContent } from "@shared/lib/content/faqContent";
---

<section class="w-[90%] m-a">
  {
    faqContent.map((faq) => (
      <AccordionTab
        heading={faq.heading}
        paragraph={faq.paragraph}
        client:load
      />
    ))
  }
</section>
@shared/lib/content/faqContent
