@import "breakpoint-slicer";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.input {
  width: clamp(120px, 56.0736vw, 480px);
  background: transparent;
  border-bottom: 2px solid;
  transition: 0.3s all;
  @apply text-lg;
  @apply pl-2;
  @apply pb-2;
  @apply text-dark_blue;
  @apply border-main_blue;

  @include respond-to("xxs") {
    font-size: clamp(7px, 3.889vw, 28px);
  }

  @include respond-to("lg") {
    width: clamp(120px, 17.647vw, 480px);
    @apply text-sm;
  }

  @include respond-to("2xl") {
    @apply text-lg;
  }

  &:hover {
    @apply text-main_blue;
    @apply border-yellow;
  }
}

input::placeholder {
  @apply text-dark_blue;
}
