@import "breakpoint-slicer";
@import "../../shared/styles/variables.scss";
@import "../../shared/styles/mixins.scss";

@include respond-to("xxs") {
  .activitiesCardList {
    display: none;
  }

  .activitiesCardListMob {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: clamp(8px, 4.444vw, 32px);
    align-items: center;
    justify-content: center;
  }
}

@include respond-to("lg") {
  .activitiesCardListMob {
    display: none;
  }

  .activitiesCardList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: clamp(10px, 1.471vw, 40px);
  }
}
