---
import { ActivityCardList } from "@features/ActivityCardList";
---

<section>
  <h2 class="mt-8 text-center">WHAT CAN YOU DO WHILE WE ARE CLEANING?</h2>
  <p class="paragraph w-[80%] text-center mt-4 m-auto">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris
  </p>
  <div class="flex flex-col items-center justify-center gap-8 mt-8">
    <ActivityCardList client:load />
  </div>
</section>
