@import "breakpoint-slicer";

@import "../styles/fonts.scss";
@import "../styles/mixins.scss";
@import "../styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply font-gothamProReg;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond-to("xxs") {
  }

  @include respond-to("xs") {
  }

  @include respond-to("sm") {
  }

  @include respond-to("md") {
  }

  @include respond-to("lg") {
  }
}

h1 {
  width: 95%;
  font-size: clamp(20px, 9.3456vw, 80px);
  text-align: center;
  @apply font-gothamBlackReg;
  @apply text-main_blue;

  @include respond-to("xxs") {
    font-size: clamp(20px, 11.11111111111111vw, 80px);
  }

  @include respond-to("xs") {
    font-size: clamp(20px, 9.523809523809524vw, 80px);
  }

  @include respond-to("sm") {
    font-size: clamp(20px, 5.208333333333333vw, 80px);
  }

  @include respond-to("md") {
    font-size: clamp(20px, 4.032258064516129vw, 80px);
  }

  @include respond-to("lg") {
    font-size: clamp(32.5px, 3.3852vw, 130px);
  }
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-size: clamp(15px, 7.0092vw, 60px);
  @apply font-gothamBoldReg;
  @apply font-bold;
  @apply text-main_blue;
}

.paragraph {
  width: 90%;
  text-align: center;
  font-size: clamp(15px, 7.0092vw, 60px);
  @apply text-base;
  @apply text-dark_blue;
  @apply font-gothamLightReg;
}
