---
import Layout from "src/layouts/Layout.astro";
import { Header } from "@features/Header";
import { Form } from "@widgets/Form";
import { Footer } from "@features/Footer";
---

<Layout title="Zaka Cleaning Contacts">
  <div class="content">
    <Header client:load />
  </div>
  <div class="pt-52">
    <Form client:load />
  </div>
  <Footer client:load />
</Layout>
