---
import Layout from "src/layouts/Layout.astro";
import { Header } from "@features/Header";
import { Form } from "@widgets/Form";
import { Footer } from "@features/Footer";
---

<Layout title="Contact Zaka - Cleaning Services in Chicago" description="Reach out to Zaka for top-quality cleaning services in Chicago. Contact us for bookings, inquiries, or any assistance you need. We're here to help!">
  <div class="content">
    <Header client:load />
  </div>
  <div class="pt-52">
    <Form client:idle />
  </div>
  <Footer client:idle />
</Layout>
