---
import Layout from "../layouts/Layout.astro";
import ServicesScreen from "@widgets/HomePage/Services/index.astro";
import Book from "@widgets/HomePage/Book/index.astro";
import { Form } from "@widgets/Form/index";
import { Header } from "@features/Header";
import { Footer } from "@features/Footer";
---

<Layout title="Zaka Cleaning Services">
  <div class="content">
  <Header client:load />
  </div>
  <ServicesScreen />
  <Book />
  <Form client:idle />
  <Footer client:idle />
</Layout>
