---
import {Counter} from '@shared/ui/Counter/index'
---
<section class="mt-8">
    <Counter end={500} client:only/>
    <Counter end={500} margin='mt-4' client:only/>
    <Counter end={500} margin='mt-4' client:only/>
</section>

