---
import {Counter} from '@shared/ui/Counter/index'

import styles from './styles.module.scss'
---
<>
<section class={`mt-8 ${styles.section_counter_mob}`}>
    <Counter end={500} client:only/>
    <Counter end={500} margin='mt-4' client:only/>
    <Counter end={500} margin='mt-4' client:only/>
</section>
<section class={`flex items-center  ${styles.section_counter_pc}`}>    
    <Counter end={500} client:only/>
    <Counter end={500} margin='mt-4' client:only/>
    <Counter end={500} margin='mt-4' client:only/>
</section>
</>
