---
import { ServiceCardList } from "@features/ServiceCardsList";
import Button from "@shared/ui/Button/index.astro";

import styles from "./styles.module.scss";
import { ReactLink } from "@shared/ui/ReactLink";
---

<main
  class="mb-16 mt-16 flex flex-col items-center content pt-16 pb-16"
  id="main"
>
  <h4 class="text-center">
    <span class="text-dark_blue">OUR</span> SERVICES
  </h4>
  <p class={`paragraph w-[80%] text-center mt-4 m-auto ${styles.paragraph}`}>
    Explore Zaka's range of professional cleaning solutions.
  </p>
  <div class="flex flex-col items-center justify-center gap-8 mt-8">
    <ServiceCardList client:idle />
  </div>
  <ReactLink text="Book A Cleaning" to="form-pc" buttonType="filled" margin="mt-8" client:visible />
</main>
