---
import { ServiceCardList } from "@features/ServiceCardsList";
import Button from "@shared/ui/Button/index.astro";

import styles from "./styles.module.scss";
---

<main class="mb-16 mt-16 flex flex-col items-center content" id="main">
  <h4 class="text-center">
    <span class="text-dark_blue">OUR</span> SERVICES
  </h4>
  <p class={`paragraph w-[80%] text-center mt-4 m-auto ${styles.paragraph}`}>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris
  </p>
  <div class="flex flex-col items-center justify-center gap-8 mt-8">
    <ServiceCardList client:load />
  </div>
  <Button text="Book A Cleaning" buttonType="filled" margin="mt-8" />
</main>
