@import "breakpoint-slicer";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.button {
  width: clamp(16px, 7.47648vw, 64px);
  height: clamp(16px, 7.47648vw, 64px);
  display: flex;
  align-items: center;
  justify-content: center;
  @apply mt-3;
  @apply p-2;
  @apply bg-yellow;
  @apply text-dark_blue;
  @apply rounded-full;
  transition: 0.3s all;

  @include respond-to("xxs") {
    width: clamp(16px, 8.88888888888889vw, 64px);
    height: clamp(16px, 8.88888888888889vw, 64px);
    font-size: clamp(6px, 3.333vw, 24px);
  }

  @include respond-to("xs") {
    width: clamp(16px, 6.666666666666667vw, 64px);
    height: clamp(16px, 6.666666666666667vw, 64px);
    font-size: clamp(6px, 2.5vw, 24px);
  }

  @include respond-to("sm") {
    width: clamp(16px, 4.166666666666667vw, 64px);
    height: clamp(16px, 4.166666666666667vw, 64px);
    font-size: clamp(6px, 1.5625vw, 24px);
  }

  @include respond-to("md") {
    width: clamp(16px, 3.225806451612903vw, 64px);
    height: clamp(16px, 3.225806451612903vw, 64px);
    font-size: clamp(6px, 1.208vw, 24px);
  }

  @include respond-to("lg") {
    width: clamp(16px, 2.6666666666666665vw, 64px);
    height: clamp(16px, 2.6666666666666665vw, 64px);
    font-size: clamp(6px, 1vw, 24px);
  }

  @include respond-to("xl") {
    width: clamp(16px, 2.3529411764705883vw, 64px);
    height: clamp(16px, 2.3529411764705883vw, 64px);
    font-size: clamp(6px, 1vw, 24px);
  }

  @include respond-to("2xl") {
    width: clamp(16px, 1.66656vw, 64px);
    height: clamp(16px, 1.66656vw, 64px);
    font-size: clamp(6px, 1vw, 24px);
  }

  &:hover {
    @apply bg-dark_blue;
    @apply text-yellow;
  }

  &__icon {
    @include respond-to("xl") {
      font-size: clamp(6px, 0.8823529411764706vw, 24px);
    }

    @include respond-to("2xl") {
      font-size: clamp(6px, 0.62496vw, 24px);
    }
  }
}
