@import "breakpoint-slicer";
@import "../../shared/styles/mixins.scss";
@import "../../shared/styles/variables.scss";

.layout {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 5000 !important;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup {
  width: 90%;
  min-height: clamp(150px, 70.092vw, 600px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid;
  z-index: 5000 !important;
  @apply p-8;
  @apply rounded-md;
  @apply border-main_blue;
  @apply bg-white;
  @apply shadow-lg;

  &__text {
    text-align: center;
    @apply mt-8;
  }

  @include respond-to("xl") {
    width: clamp(225px, 33.088vw, 900px);
    height: clamp(150px, 22.059vw, 600px);
  }

  @include respond-to("2xl") {
    width: clamp(250px, 26.04vw, 1000px);
  }

  &__heading {
    @apply text-2xl;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
