---
import Button from '@shared/ui/Button/index.astro'
---
<section>
    <div class="w-full flex flex-col items-center justify-center">
        <h2 class="text-center mt-8"><span class="text-main_blue">Discover Our Sparkling Story:</span> <span class="text-dark_blue">Unveiling The Passion Behind Our Cleaning Solutions</span></h2>
        <p class="paragraph text-center mt-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        <br/>
        <br/>
        <p class="paragraph text-center mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
        <Button text='Contact Us' margin='mt-4' buttonType='filled'/>
    </div>
</section>

