---
import { ReactLink } from "@shared/ui/ReactLink";
import styles from "./styles.module.scss";
---

<section>
  <div
    class=`${'w-full  flex flex-col items-center justify-center'} ${styles.about_block_mob}`
  >
    <h2 class="text-center mt-8">
      <span class="text-main_blue">Discover Our Sparkling Story:</span>
      <span class="text-dark_blue"
        >Unveiling The Passion Behind Our Cleaning Solutions</span
      >
    </h2>
    <p class="paragraph text-center mt-8 w-[90%]">
      Our team of professional cleaners will ensure impeccable cleanliness of
      your home, using only environmentally friendly products and advanced
      cleaning methods. We guarantee high-quality results and complete customer
      satisfaction.
    </p>
    <br />
    <br />
    <p class="paragraph text-center w-[90%]">
      We value the trust of our clients and always strive to exceed their
      expectations. Let us take care of the cleanliness of your home so you can
      enjoy your free time and comfort without any extra hassle.
    </p>
    <ReactLink
      text="Contact Us"
      margin="mt-4"
      buttonType="filled"
      to="form"
      client:idle
    />
  </div>
  <div class={`${styles.about_block_pc} content !flex-row m-auto`}>
    <h2 class="text-left mt-8 w-[90%]">
      <span class="text-main_blue">Discover Our Sparkling Story:</span>
      <span class="text-dark_blue"
        >Unveiling The Passion Behind Our Cleaning Solutions</span
      >
    </h2>
    <div class="flex flex-col items-end">
      <p class="paragraph text-center mt-8">
        Our team of professional cleaners will ensure impeccable cleanliness of
        your home, using only environmentally friendly products and advanced
        cleaning methods. We guarantee high-quality results and complete
        customer satisfaction.
      </p>
      <br />
      <br />
      <p class="paragraph text-center">
        We value the trust of our clients and always strive to exceed their
        expectations. Let us take care of the cleanliness of your home so you
        can enjoy your free time and comfort without any extra hassle.
      </p>
      <span class="flex items-start w-[90%] mt-4">
        <ReactLink
          text="Contact Us"
          margin="mt-4"
          buttonType="filled"
          to="form-pc"
          client:idle
        /></span
      >
    </div>
  </div>
</section>
