@import "breakpoint-slicer";
@import "../../../shared/styles/variables.scss";
@import "../../../shared/styles/mixins";

.about_block_mob {
  @include respond-to("md") {
    display: none;
  }
}

.about_block_pc {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @apply gap-16;
  @apply mt-64;

  @include respond-to("xl") {
    @apply mt-80;
  }
}
