@import "breakpoint-slicer";
@import "../../shared/styles/variables.scss";
@import "../../shared/styles/mixins";

.logo {
  transition: 0.3s all;
  @apply text-xl;
  @apply font-gothamBoldReg;

  @apply text-main_blue;
  &:hover {
    @apply text-yellow;
  }

  @include respond-to("md") {
    @apply text-2xl;
  }

  &__icon {
    width: clamp(16px, 32 / 992 * 100vw, 64px);
    height: clamp(16px, 32 / 992 * 100vw, 64px);

    @include respond-to("lg") {
      width: clamp(16px, 32 / 1200 * 100vw, 64px);
      height: clamp(16px, 32 / 1200 * 100vw, 64px);
    }

    @include respond-to("xl") {
      width: clamp(16px, 32 / 1360 * 100vw, 64px);
      height: clamp(16px, 32 / 1360 * 100vw, 64px);
    }

    @include respond-to("2xl") {
      width: clamp(16px, 32 / 1520 * 100vw, 64px);
      height: clamp(16px, 32 / 1520 * 100vw, 64px);
    }

    @include respond-to("3xl") {
      width: clamp(16px, 32 / 1680 * 100vw, 64px);
      height: clamp(16px, 32 / 1680 * 100vw, 64px);
    }

    @include respond-to("4xl") {
      width: clamp(16px, 32 / 1920 * 100vw, 64px);
      height: clamp(16px, 32 / 1920 * 100vw, 64px);
    }
  }
}
