@import "breakpoint-slicer";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.selector {
  width: clamp(120px, 56.0736vw, 480px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid;
  transition: 0.3s all;
  @apply text-lg;
  @apply pl-2;
  @apply pb-2;
  @apply pr-2;
  @apply text-dark_blue;
  @apply border-main_blue;

  @include respond-to("xxs") {
    font-size: clamp(7px, 3.889vw, 28px);
  }

  @include respond-to("lg") {
    width: clamp(120px, 17.647vw, 480px);
    @apply text-sm;
  }

  &__placeholder {
    @apply text-dark_blue;
  }

  &__list {
    width: clamp(120px, 56.0736vw, 480px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @apply bg-gray-200;
    @apply shadow-md;

    @include respond-to("lg") {
      width: clamp(110px, 16.176vw, 440px);
    }

    &__item {
      @include respond-to("xxs") {
        font-size: clamp(7px, 3.889vw, 28px);
      }

      @include respond-to("lg") {
        @apply text-base;
      }

      @apply pt-3;
      @apply pb-3;
      @apply text-dark_blue;
    }
  }
}
